name: CI

on:
    push:
        branches: [ develop, main ]
    pull_request:
        branches: [ develop, main ]

permissions:
    contents: write
    pages: write
    id-token: write

jobs:

    lint-build-test:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4

            -   uses: actions/setup-node@v4
                with:
                    node-version: 22
                    cache: npm

            -   run: rm -rf node_modules/.vite node_modules/.vitest coverage
            -   run: npm ci
            -   run: npm run lint
            -   run: npx tsc --noEmit
            -   run: npm run build
            -   env:
                    VITE_ENV: test
                run: npm run test:ci

            -   id: ref
                run: echo "value=${GITHUB_REF_NAME//[\/:]/-}" >> $GITHUB_OUTPUT

            -   uses: actions/upload-artifact@v4
                with:
                    name: coverage-${{ steps.ref.outputs.value }}-${{ github.run_id }}
                    path: coverage/
                    retention-days: 7


    deploy-pages:
        runs-on: ubuntu-latest
        needs: lint-build-test
        if: github.ref == 'refs/heads/main' && success()

        environment:
            name: github-pages
            url: https://maxvanny2010.github.io/editor/

        permissions:
            pages: write
            id-token: write

        steps:
            -   uses: actions/checkout@v4

            -   uses: actions/setup-node@v4
                with:
                    node-version: 22
                    cache: npm

            -   run: npm ci
            -   run: npm run build

            -   id: clean_ref
                run: echo "value=${GITHUB_REF_NAME//[\/:]/-}" >> $GITHUB_OUTPUT

            -   name: Download coverage artifact
                uses: actions/download-artifact@v4
                with:
                    name: coverage-${{ steps.clean_ref.outputs.value }}-${{ github.run_id }}
                    path: coverage/

            -   name: Prepare publish folder
                run: |
                    mkdir -p publish/editor
                    mkdir -p publish/editor/coverage
                    cp -r dist/* publish/editor/
                    cp -r coverage/lcov-report/* publish/editor/coverage/

            -   name: Upload
                uses: actions/upload-pages-artifact@v3
                with:
                    path: publish/

            -   name: Deploy
                uses: actions/deploy-pages@v4
